# Entorno virtual
venv/

# Archivos compilados de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Base de datos SQLite
*.db

# Variables de entorno
.env

# Configuración local
instance/

# Archivos temporales
*.log
*.tmp

# VS Code
.vscode/

# Sistema operativo
.DS_Store
Thumbs.db
# Documentos cargados por usuarios
storage/documents/*
!storage/documents/.gitkeep
